 body {
      font-family: Arial, sans-serif;
      padding: 20px;
    }

    button {
      padding: 10px 16px;
      background-color: #ff00c3;
      color: white;
      border: none;
      cursor: pointer;
      margin-bottom: 20px;
    }

    button:hover {
      background-color: #62b300;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      border: 1px solid #ccc;
      padding: 10px;
    }

    th {
      background-color: #f2f2f2;
    }
  